@font-face {
    font-family: "Ubuntu";
    src: url("../fonts/Ubuntu-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Ubuntu";
    src: url("../fonts/Ubuntu-Medium.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "Ubuntu";
    background-color: #38404B;
}

h2 {
    color: #94ADCF;
    line-height: 28px;   
}

.input-container {
    display: flex;
    align-items: center;
    width: 40vw;
    margin: 0 auto;
    position: relative;
}  

h2,
.input-container {
    font-weight: 400;
}

.styled-input {
    flex: 1;
    box-shadow: inset -2px -2px 4px hsla(0,0%,100%,.1), inset 2px 2px 4px rgba(0,0,0,.35);
    border-radius: 16px 0 0 16px; 
    padding: 20px;
    color: #94ADCF;
}

.styled-input::placeholder {
    color: #94ADCF;
}

.styled-input:focus {
    outline: none;
}

.svg-button {
    box-shadow: inset -2px -2px 4px hsla(0,0%,100%,.1), inset 2px 2px 4px rgba(0,0,0,.35);
    border-radius: 0 16px 16px 0;
    padding: 10px;
    cursor: pointer;
    outline: none;
    user-select: none;
}

.styled-input,
.svg-button {
    height: 44px;
    border: none;
    width: auto;
    background-color: #38404B;
}

.todo,
.completed {
    font-weight: 700;
}

.task-list h2 {
    position: absolute;
    margin-top: 10vh;
    left: 15%;/*It's position need to change*/
}