@font-face {
    font-family: "Ubuntu";
    src: url("../fonts/Ubuntu-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Ubuntu";
    src: url("../fonts/Ubuntu-Medium.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

:root {
    --primary-bg-color: #38404B;
    --secondary-bg-color: #94ADCF;
}

body {
    font-family: "Ubuntu";
    background-color: var(--primary-bg-color);
}

h1 {
    margin-left: 5vw;
}

h2 {
    color: var(--secondary-bg-color);
    line-height: 28px;
}

/* input-container style */
.input-container {
    width: 40vw;
    margin: 0 auto;
    position: relative;
}

.input-container {
    flex: 1;
    box-shadow: inset -2px -2px 4px hsla(0, 0%, 100%, .1), inset 2px 2px 4px rgba(0, 0, 0, .35);
    border-radius: 16px;
    padding: 10 0px;
    color: var(--secondary-bg-color);
}

.input-container {
    display: flex;
    align-items: center;
    height: 44px;
    border: none;
    background-color: var(--primary-bg-color);
    padding-left: 10px;
}

/* input style */
.styled-input {
    flex: 1;
    border: none;
    padding: none;
    width: auto;
    background-color: var(--primary-bg-color);
    color: var(--secondary-bg-color);
}

h2,
.input-container {
    font-weight: 400;
}

/* input button style */
.svg-button {
    margin-left: auto;
    margin-right: 20px;
}

.svg-button {
    border: none;
    cursor: pointer;
    outline: none;
    height: auto;
    background-color: var(--primary-bg-color);
}

.styled-input::placeholder {
    color: var(--secondary-bg-color);
}

.styled-input:focus {
    outline: none;
}

.emptyInputMessage {
    color:  #FF5733;
    position: absolute;
    left: 20vw;
}

.task-list {
    margin: 10vh 20vh;
}

.task-list h2 {
    margin-left: 5vh;
}

.todo li,
.completed li {
    height: 44px;
    border: none;
    width: auto;
    background-color: var(--primary-bg-color);
}

/* todo and completed style */
.todo,
.completed {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.todo li,
.completed li {
    box-shadow: -2px -2px 4px 2px hsla(0, 0%, 100%, .1), 2px 2px 4px 2px rgba(0, 0, 0, .35);
    border-radius: 16px;
    padding: 10px;/*50px*/
    outline: none;
    width: 30vw;
    min-height: 24px;
    margin: 5vh;
}

.todo li,
.completed li {
    color: var(--secondary-bg-color);
    font-weight: 700;
}

/* completed style */
.completed li {
    text-decoration: line-through;
}

/* buttons on task element */
.check-button {
    float: left;
    margin-right: 20px;
}

.del-button {
    float: right;
    margin-left: 5px;
    margin-right: 35px;
}

.check-button,
.del-button {
    border: none;
    cursor: pointer;
    outline: none;
    height: 100%;
    background-color: var(--primary-bg-color);
}

/* action-panel buttons */
.action-panel {
    display: flex;
    justify-content: center;
    margin-top: 4vh;
    gap: 40px;
}

.action-panel button {
    width: 75px;
    height: 25px;
    font-size: 12px;
    text-align: center;
    line-height: 20px;

    border-radius: 16px;
    box-shadow: -2px -2px 4px 2px hsla(0, 0%, 100%, .1), 2px 2px 4px 2px rgba(0, 0, 0, .35);
    background-color: var(--primary-bg-color);
    color: var(--secondary-bg-color);
}

.action-panel button:nth-child(3) {
    font-size: 8px;
}
.action-panel button:nth-child(4) {
    font-size: 9px;
}
